* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* Changed .header div to .header banner*/
.header banner {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Changed .header div to .header banner*/
.header banner ul {
    list-style-type: none;
}

/* Changed .header div to .header banner*/
.header banner ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Pruned one h2 class from the CSS style sheet. */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Converted "hero" to an id and the removed background-image url from the CSS.*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

#float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Moved the search-engine-optimization CSS code to fall in line with its position in the html document. Additionally, pruned and combined CSS code for the content section to encompass all the section elements with less code. */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Condensed image styling for the "Content" section into one class */
.search-engine-optimization img {
    max-height: 200px;
}

/*Condensed margin styling for the "Content" section into one class */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Pruned and combined CSS code for the "Benefits" section to encompass all the section elements with less code.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Condensed margin styling for the "Benefits" section into one class */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Condensed h3 header styling for the "Benefits" section into one class */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Condensed image styling for the "Benefits" section into one class */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
